.home-container {
    padding: 20px;
    text-align: center;
  }
  
  .main-poster {
    width: 100%;
    height: 600px;
  }
  .animated-text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    animation: fadeIn 3s ease-in-out;
  }
  
  .animated-text h1 {
    font-size: 3em;
    margin: 0;
    animation: slideIn 2s ease-in-out;
  }
  
  .animated-text p {
    font-size: 1.5em;
    margin: 0;
    animation: slideIn 2s ease-in-out 0.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translate(-50%, -50%);
    }
    
  }
  .section {
    margin-top: 40px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 0 1 200px; /* Ensure the cards have a fixed width and can wrap */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Add some margin to separate the cards */
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-info {
    padding: 10px;
  }
  
  .card-info h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
  }
  
  .card-info p {
    margin: 0;
    color: #555;
  }
  
  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 80%;
      margin: 10px 0;
    }
  
    .card img {
      height: 100px;
    }
  }
  